body, html {
    height: 100%;
    margin: 0;
    background-image: url('/assets/background.jpg') ;
    height: 100%;
    background-size: cover;
    position: relative;
    color: whitesmoke;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
    opacity: 0.8;
}
